@model AgenciaCRUD.Models.Promocao

@{
    ViewData["Title"] = "Details";
    Layout = "PromocaoController";
}

<h1>Details</h1>

<div>
    <h4>Promocao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
